 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html, body{
    height: 100%;
    width: 100%;
}

.button{
    background-color: #0d0c0c6a;
    color: #fff;
    padding: 10px 15px;
    border: none;
}
.button:hover{
    background-color: rgb(143, 255, 31);
    color: #fff;

}

.clr{
    clear:both;
}

body{
    background-color: rgba(144, 141, 141, 0.387);
    color: #555;

    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal; */
    font: normal 16px Arial,Helvetica, sans-serif;

    line-height: 1.6em;
    margin: 0;
}

a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: rgba(127, 250, 33, 0.999);
}
a:active{
    color: rgb(3, 53, 3);
}

.container{
    width: 80%;
    margin: auto;
}

.box-1{
    background-color: #333;
    color: #ffff;

    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;

    /* border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid; */
    border: 5px rgb(0, 0, 255) solid;

    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px; */
    padding: 20px;

    /* margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px; */
    margin: 20px 0;
}

.box-1 h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2{
    border: 3px dotted #898989;
    padding: 20px;
    margin: 20px 0;
}

.categories{
    border: 1px #636262 solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    list-style: none;
    /* list-style: square; */
    margin-left: 16px;
}

.categories li{
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;
    list-style-image: url(../assets/images/my-img.png);
}

.my-form{
    padding: 20px;

}

.my-form .form-group{
padding-bottom: 15px;
}

.my-form label{
    display: block;
    font-weight: bold;
}

.my-form input[type="text"], .my-form input[type="email"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.block{
    float:left;
    width: 33.3%;
    border: 1px solid #807e7e;
    box-sizing: border-box;
}

#main-block{
    float: left;
    width: 70%;
}

#sidebar{
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative;
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.p-box h1{
    position: absolute;
    top: 100px;
    left: 200px;
}

.p-box h2{
    position: absolute;
    bottom: 40px;
    right: 100px;
}

.fix-me{
    position: fixed;
    top: 400px;
}

.mylist li:first-child{
    background: rgb(130, 252, 59);
}
.mylist li:last-child{
    background: rgb(4, 4, 97);
}
.mylist li:nth-child(7){
    background: rgba(0, 255, 60, 0.651);
}
.mylist li:nth-child(even){
    background: rgb(41, 41, 41);
}





